body {
    margin: 0;
    box-sizing: border-box;
    background-color: #F7F7F7;
}


/*OLD CODE*/
.header {
    background-image: linear-gradient(180deg, #333333 0%, #494949 52%, #333333 100%);
    height: 50px;
    width: 100%;
    display: flex;

    /*    justify-content: center;*/
    align-items: center;
}

.logo {
    background: url("assets/New_logo.svg") no-repeat;
    width: 25px;
    height: 30px;
    position: absolute;
    margin-left: 25px;
}

.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.menu_item {
    /*letter-spacing:5px;*/
    color: #ffffff;
    font-size: 18px;
    margin-left: 60px;
    font-weight: 500;
    font-family: Helvetica_Neue_medium,serif;
}

.menu_item_1 {
    /*letter-spacing:5px;*/
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    font-family: Helvetica_Neue_medium,serif;
}

/*NEW CODE*/

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.box3 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 4;
}


.box {
    padding: 40px;
    height: 398px;
    background-color: #fafafa;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

.wrapper {
    width: 1420px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

}

footer{
    margin-top: 40px;
    height: 124px;
    background-image: linear-gradient(180deg, #626262 0%, #333333 100%);
}


p{
    font-size: 1.875em;
    font-family: Helvetica_Neue_medium,serif;
    font-weight: 600;
    margin: 0;
}

.iphone{
    max-width: 1338px;
    display: flex;
    justify-content: space-between;

}

.price{
    margin-top: 40px;
    display: block;
}

.block{
    display: block;
}

.stroke_price{
    font-size: 21px;
    font-family: Helvetica_Neue_medium,serif;
    margin-top:24px;
    margin-bottom:24px;
}

color{
    color: #3F95FD;
}

/*------Image------*/

.imgphone{
    justify-content: flex-end;
    background: url("assets/iphonepro.png") no-repeat;
    width: 398px;
    height: 398px;
}
